$nix-blue: rgba(15, 148, 210, 1);
$cyan: rgba(65, 208, 255, 1);
$pink: rgba(229, 180, 226, 1);
$bg-color: rgba(17, 17, 27, 1);
$bd-color: rgba(24, 24, 37, 1);
$bg-grad-1: rgba(30, 30, 46, 1);
$bg-grad-2: rgba(49, 50, 68, 1);
$bg-grad-3: rgba(68, 87, 109, 1);
$bg-grad-4: rgba(118, 138, 150, 1);
$bg-grad-5: rgba(147, 153, 178, 1);
