@import "./color.scss";
@import "./bar/bar.scss";
@import "./bar/info.scss";
@import "./quote/quote.scss";
@import "./launcher/launcher.scss";
@import "./powermenu/powermenu.scss";
@import "./media_player/media_player.scss";

* {
  font-family: "JetBrains Mono ExtraBold", "Symbols Nerd Font Mono", "Source Han Sans JP Heavy";
  font-size: 16px;
}

button {
  all: unset;
}

combo-box-text {
  background-color: #fff;
}

tooltip {
  background-color: $bg-color;
  padding: 5px;
}

.os-logo {
  font-size: 25px;
  margin: 0 0 0 10px;
}

.power-event-box {
  color: $bd-color;
  background-color: rgba(15, 148, 210, 1);
  transition: color 500ms;
}

.power-event-box:hover {
  color: rgba(65, 208, 255, 1);
}

.workspaces {
  background-color: $bd-color;
  padding: 5px;
}

.workspace {
  color: $bg-grad-3;
  transition: color 500ms;
}

.workspace:hover {
  color: darkgray;
}

.workspace-label {
  margin: 0 5px;
  font-size: 18px;
}

.workspace-label-active {
  margin: 0 5px;
  font-size: 18px;
  color: rgba(164, 223, 255, 1);
}

.circle {
  background-color: $bd-color;
  margin: 0 10px;
}

.circ-icon {
  margin: 10px;
  font-size: 7px;
}

.cpu {
  color: rgba(164, 185, 239, 1);
}

.info-hardware {
  font-size: 30px;
  margin: 20px;
}

.ram {
  color: rgba(177, 227, 173, 1);
}

.disk {
  color: rgba(214, 133, 133, 1);
}

.language {
  color: rgba(164, 185, 239, 255);
  font-size: 20px;
  margin: 0 10px;
}

.lang-button {
  transition: background-color 500ms;
}

.lang-button:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

revealer {
  background-color: #fff;
}

scale,
trought,
highlight,
slider {
  all: unset;
  border-radius: 16px;
}

scale trough {
  border-radius: 16px;
  border: 2px solid #000;
  min-height: 8px;
  background-color: $bd-color;
}

trough {
  background-color: $bg-color;
}

.pill-wrapper {
    margin: 5px 6px;
    padding: 0 5px;
    background-color: rgba(9, 9, 14, 1);
    /* background-color: $bd-color; */
    border-radius: 20px;
}

.backlight {
  color: rgba(238, 212, 159, 1);
  font-size: 20px;
  margin: 0 10px;
}

.backlight-scale {
  all: unset;
  min-width: 100px;

  highlight {
    background-color: rgba(238, 212, 159, 1);
  }
}

.color-temp {
  color: red;
  font-size: 22px;
  margin: 0 10px;
}

.temp-scale {
  all: unset;
  min-width: 100px;

  highlight {
    background-color: red;
  }
}

.network {
  color: rgba(190, 228, 237, 1);
  font-size: 20px;
  margin: 0 10px;
}

.sound {
  color: rgba(229, 180, 226, 1);
  font-size: 22px;
  margin: 0 10px;
}

.volume-scale {
  all: unset;
  min-width: 100px;

  highlight {
    background-color: rgba(229, 180, 226, 1);
  }
}

.volume_info,
.brightness_info {
  padding: 25px;
  padding-top: 35px;
}

.volume-info-icon,
.brightness-info-icon {
  margin-bottom: 30px;
}

.battery {
  color: rgba(177, 227, 173, 1);
  font-size: 20px;
  margin: 0 10px;
}

.info-battery,
.info-network {
  font-size: 80px;
  padding: 10px;
}

.clock {
  background-color: $bg-grad-1;
  padding: 0 10px;
  font-family: Dosis;
}

.clock label {
  font-size: 19px;
}

calendar * {
  border: none;
}

calendar.view {
  text-shadow: none;
  background-color: $bg-color;
}

.calendar {
  background-color: transparent;
}

.calendar-padding {
  margin: 10px;
  padding: 8px;
  background-color: $bg-color;
  border-radius: 15px;
  box-shadow: 0 0 3px 3px rgba(10, 10, 10, 1);
}
