* {
    font-family: "Roboto Mono", "Inter Nerd Font";
    font-size: 16px;
    font-weight: bold;
    color: rgba(182,187,211,255);
    /* color: #3A3B3C; */
}

window#waybar {
	/* Transparent waybar. Make sure to comment out background-color: and border: */
	background-color: rgba(28, 27, 34, 255);
	border: 0px solid rgba(191,188,201,255);
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 10px;
	padding: 4px 0px;

}
/*
window#waybar > box {
    border-radius: 8px;
    margin: 4px 12px 12px 0px;
    background-color: rgba(17,17,17,255);
    box-shadow: 6px 6px 4px 1px #101010;
}

*/

window#waybar.hidden {
  opacity: 0.7;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#tray,
#pulseaudio,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-keybindings,
#custom-cycle_wall,
#network,
#workspaces,
#hyprland-window,
#custom-brightness {
	border-radius: 10px;
	margin: 6px 0px;
	padding: 0 4px;
}

#workspaces,
#pulseaudio,
#network,
#backlight,
#battery {
	background-color: rgba(40,42,54,255);
	padding: 0 8px;
	margin: 8px 3px;

}

#cpu {
	color: rgba(164,185,239,255);
}

#memory {
	color: rgba(177,227,173,255);
}

#backlight {
	color: rgba(224,209,162,255);
}

#custom-power {
	color: rgba(164,185,255,255);
	font-size: 22px;
}

#battery {
	color: rgba(177,227,173,255);
}

#network {
	color: rgba(190,228,237,255);
}

#pulseaudio {
	color: rgba(229,180,226,255);
}

#clock {
	margin-left: 8px;
}

#workspaces button.active label {
	color: rgba(243,118,191,255);
}






/*
@keyframes example {
    to {background-color: rgba(12,34,12, 0);}
}
animation-name: example;
animation-duration: 5s;
animation-timing-function: ease;
animation-delay: 0s;
animation-iteration-count: 2;
animation-direction: normal;
*/


/*
#workspaces {
	border-radius: 4px;
	margin: 4px 0px;
	padding: 0px 4px;
  	color: #3A3B3C;
}

#backlight {
	background-color: #cba6f7;
}

#battery {
	background-color: #f9e2af;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
	background-color: #f38ba8;
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#workspaces button {
  background-color: #d9e0ee;
  color: #3A3B3C;
  border: 2px solid #3a3b3c;
  margin-right: 2px;
  border-radius: 4px;
}


#custom-menu {
	background-color: #f5c2e7;
}

#custom-power {
    background-color: #f38ba8;
    margin-right: 4px;
}

#custom-updater {
	background-color: #e6ed7b;
}

#custom-uptime {
	background-color: #e6ed7b;
}

#custom-weather {
	background-color: #cba6f7;
}

#custom-cycle_wall {
	background-color: #89dceb;
}

#custom-vpn_check {
	background-color: #a6e3a1;
}

#custom-cputemp {
  background-color: #86b4fa;
}

#custom-keybindings {
  background-color: #86b4fa;
}

#pulseaudio {
    background-color: #fab387;
}

#pulseaudio.bluetooth {
	background-color: #f5c2e7;
}
#pulseaudio.muted {
	background-color: #313244;
	color: #cdd6f4;
}

#network {
	background-color: #89b4fa;
}
#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}


*/

