* {
    font-family: "JetBrains Mono ExtraBold";
    font-size: 15px;
    font-weight: 600;
    color: rgba(210, 210, 210, 1);
}

window#waybar {
	background-color: rgba(37, 42, 51, 1);
	/* border-bottom: 3px solid rgba(56, 62, 75, 1); */
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
    margin-bottom: 20px;
	border-bottom: 3px solid rgba(56, 62, 75, 1);
    box-shadow: 0px 5px 5px 1px #101010;
}

window#waybar.hidden {
  opacity: 0.7;
}

#pulseaudio,
#window,
#custom-power,
#clock,
#disk,
#custom-language,
#custom-weather,
#bluetooth,
#cpu,
#memory,
#workspaces,
#wireplumber,
#network,
#backlight,
#battery {
	padding: 0px 16px;
	margin: 6px 5px 7px 5px;
    background-color: rgba(29, 32, 39, 1);
    border-radius: 15px;
}

#backlight {
    color: rgba(238, 212, 159, 1);
}

#battery {
    color: rgba(177,227,173,255);
}

#bluetooth {
    color: rgba(229,180,226,255);
    /*margin-right: 0;*/
}

#clock {
    /*margin-left: 10px;*/
    padding-right: 8px;
    margin-right: 6px;
}

#cpu {
	color: rgba(164,185,239,255);
    /*margin-left: 0;*/
}

#disk {
    color: rgba(214, 133, 133, 1);
}

#network {
    color: rgba(190,228,237,255);
}

#memory {
	color: rgba(177,227,173,255);
}

#wireplumber {
    color: rgba(229,180,226,255);
    /*margin-left: 0;*/
}

#pulseaudio {
    color: rgba(229,180,226,255);
    /*margin-left: 0;*/
}


#workspaces {
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces button.active label {
    color: rgba(243, 118, 191, 255);
}

#workspaces button.hover {
    background-color: rgba(66, 65, 77, 1);
}

#custom-power {
    background-color: rgba(0,0,0,0);
	color: rgba(15, 148, 210, 1);
	font-size: 25px;
    margin: 6px 6px 8px 10px;
    padding: 0 0 0 10px;
}

/* #custom-weather {
    color: rgba(214, 133, 133, 1);
} */

#custom-language {
	color: rgba(164,185,239,255);
}
