* {
    font-family: "JetBrains Mono ExtraBold";
    font-size: 15px;
}

#window {
    background-color: #252A33;
	color: #ffffff;
    border: 3px solid #383e4b;
    border-radius: 0px;
}

#outer-box {
	padding: 12px;
}

#input {
    border: 0px solid #383e4b;
    border-radius: 7px;
	background-color: #383e4b;
	padding: 5px 12px;
    font-size: 16px;
    color: #ffffff;
}

#scroll {
	margin-top: 10px;
	margin-bottom: 5px;
    background-color: #212c2e;
}

#inner-box {
    background-color: #252A33;
}

#text {
	color: #d2d2d2;
}

#text:selected {
	color: #ffffff;
}

#entry {
	padding: 7px;
}

#entry:selected {
	background-color: #1D2027;
}

#selected {
    background-color: #1D2027;
}
